<div class="user">
  <span class="profile_picture">
    <%= image_tag user.profile_picture %>
  </span>
  <div class="name">
    <%= user.name %>
  </div>
  <div class="location">
    <%= user.location %>
  </div>
</div>
