<div id="header">
	<div id="logo">
		<img src="/assets/images/logo.png" alt="TheJamStop.com" />
	</div>
	
	<div id="">
		Login&nbsp;&nbsp;|&nbsp;&nbsp;Register
	</div>
</div>

<div id="middle">
	<img src="/assets/images/welcome_image.png" alt="Welcome to TheJamStop.com" />
</div>

<div id="searchLinks">
	<div>
		I am looking for...
	</div>
	
	<div class="lookingForBtn">
		Artists
	</div>
	
	<div class="lookingForBtn">
		Spaces
	</div>
</div>

<div id="footer">
	The usual legal mumbo jumbo goes here.
</div>