<div id="middle">
  <%= image_tag "welcome.png" %>
</div>

<div id="looking-for">
  I am looking for...
</div>

<div class="artists">
  <%= link_to image_tag("musicians_btn.png"), search_users_path %>
</div>

<div class="spaces">
  <%= link_to image_tag("spaces_btn.png"), search_spaces_path %>
</div>


<div id="footer">
The usual legal mumbo jumbo goes here.
</div>
