$('#users').ready ->
  tokenize = (selector, url) ->
    div = $(selector)
    if div.length > 0
      val = div.val()
      div.tokenInput(url,
          crossDomain: false,
          tokenValue:'name',
          theme: 'facebook',
          hintText: div.attr('placeholder'),
          preventDuplicates: true,
          prePopulate: (if val == "" then "" else JSON.parse(val)))

  tokenizeEdit = (selector, url) ->
    div = $(selector)
    if div.length > 0
      val = div.val()
      div.tokenInput(url,
        crossDomain: false,
        theme: 'facebook',
        preventDuplicates: true,
        prePopulate: (if val == "" then "" else JSON.parse(val)))

  show_message = (in_div) ->
    content = """
      <label for="subject">Subject</label>
      <input type="text" name="subject" />
      <label for="message">Message</label>
      <textarea class="message-body" name="body" rows="7"></textarea>
      <br /> 
      <input type="submit" value="Send" />
    """
    in_div.hide()
    in_div.html(content)

    # give content the ability to send a message
    in_div.children('input[type=submit]').click ->
      data =
        id: in_div.parent().children('.hidden-id').val()
        subject: in_div.children('input[name=subject]').val()
        body: in_div.children('textarea[name=body]').val()
      
      # TODO add better validation
      unless (data.subject and data.body)
        return

      in_div.children('input[type=submit]').click ->
        $.ajax(
            type: 'POST'
            url: '/messages/send_message.js'
            data: data
            success: (xhr, status, err) ->
              #make the ajax request
              in_div.html('<p class="label label-success">Message Sent</p>')
            error: (xhr, status, err) ->
              in_div.html('<p class="label label-error">Failed to send message.</p>')

            complete: (xhr, status) ->
        )

    in_div.slideDown()
    in_div.animate('color':'yellow', 1000)


  if $('#currently-signed-in').length > 0
    $('.contact').click ->
      message = $(this).parent().children(".message")
      if message.children().size() == 0
        show_message(message)
      else
        message.slideUp(400, ->
          message.empty())
  else
    $('.contact').tooltip(title: "Log In To Contact")


  tokenize('#filter #search-skills', '/skills.json')
  tokenize('#filter #search-styles', '/styles.json')

  # TODO these should have value be thier id, not thier name
  tokenizeEdit('#search-styles', '/styles.json')
  tokenizeEdit('#search-skills', '/skills.json')
