// main background pattern here
body {
  background-image: url(subtle_stripes.png);
}

#header {
  .new-messages{
    color:white;
    a:visited {
      color:white;
    }
  }
  #logo {
    img {
      max-width: 100px;
    }
  }

  #signin {
    float: right;
  }
}
