#messages {
  .sent-mail-header {
    margin-bottom: 20px;
  }
  .even {
    background-color: hsla(0, 0%, 95%, 0.85);
  }
  .odd{}

  .message {

    .picture{
      float:left;
      margin-right: 5px;
      img {
        width: 100px;
        height: 100px;
      }

    }
    .name{ 
      font-weight: bold;
    }
    .status{
    }
    .topic{
      font-weight: bold;
    }
    .body{}
    .sent{
      float: right;
    }
    .reply {
      display: none; 
    }
  }
}
