// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users {
  margin-top: 15px;

  #filter {
    background: hsl(200, 27, 68)
  }
  .token-input-list-facebook {
    width: auto;
  }
  
  .user {
    .profile_picture {
      float: left;
    }
    .information {
      display: inline-block;
      padding-top: 10px;

      .name {
        font-weight: bold;
      }
      .location {}
      .skills {}
      .styles {}
    }
    .contact {
      float: right;
      margin-top: 20px;
    }
  }
}
