// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users {
  #filter {
    background: hsl(200, 27, 68)
  }
  .token-input-list-facebook {
    width: auto;
  }
  
  .user {
    .name {
      font-weight: bold;
    }
    .location {

    }
    .skills {
      
    }
    .styles {

    }
    .contact {
      float: right;
    }
  }
}
