// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users {
  margin-top: 15px;

  .map{
    max-width: 100%;
  }
  .map-letter{
    text-align: center;
    width: 20px; 
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #5CA5CA;
    float:left;
    margin-top: 50px;
    font-weight: bold;
  }

  #filter {
    background: hsl(200, 27, 68);

    #filter-btn{
      text-align: center;
    }
  }
  .token-input-list-facebook {
    width: auto;
  }

  .contact{ 
    img {
      &:hover { opacity: 0.5; }
    }
  }
  .users {
    background-color: #97B5C3;
    margin-top: 10px;
  }
  
  .user {
    .profile_picture {
      float: left;
    }
    .information {
      display: inline-block;
      padding-top: 10px;
      padding-left:5px;

      .name {
        font-weight: bold;
      }
      .location {}
      .skills {}
      .styles {}
    }
    .contact {
      float: right;
      margin-top: 20px;
    }
    .message {
      margin-left: 100px;
    }
  }
}
