#welcome {
  .looking-for {
    font-weight: bold;
    margin-top: 20px;
  }
  .search-options {
    text-align: center;

    .artists {
      display: inline-block;
    }

    .spaces {
      display: inline-block;
      margin-left: 100px;
    }
  }
}
